.slider {
    height: 830px;
    background-color: $primary;
    background-image: url('https://htmldemo.net/edumall/assets/images/landing-hero.png');
    background-position: -12% 23%;
    background-repeat: no-repeat;
    background-size: 130%;

    @include Responesive(XS) {
        height: 650px;
    }

    h1 {
        font-size: 4.8rem;
        max-width: 640px;
        font-weight: 500;
        line-height: 70px;
        color: white;

        &:nth-child(1) {
            padding-top: 200px;

            @include Responesive(XS) {
                padding-top: 130px;
            }
        }

        &:nth-child(2) {
            color: $secondary;
        }

        @include Responesive(SM) {
            font-size: 3.5rem;
        }

        @include Responesive(SM) {
            font-size: 3rem;
        }

        @include Responesive(SS) {
            font-size: 2.5rem;
        }
    }

    button {
        margin-top: 60px;
        background-color: white;
        color: $primary;
        border: 2px solid white;

        @include Responesive(XS) {
            margin-top: 30px;
        }

        &:hover {
            background-color: $primary;
            border: 2px solid white;
            color: white;
        }
    }
}