.courseItemDetail {
    padding: 100px 0;

    .container {
        display: flex;
        justify-content: flex-start;

        @include Responesive(LG) {
            display: initial;
        }

        .courseItemDetail__item {
            width: 570px;
            margin: 0 auto;
            max-width: 100%;

            img {
                border: 10px solid #333;
                border-radius: 20px;
                box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
                width: 100%;
                margin-bottom: 40px;
            }

            .info-title {
                h3 {
                    font-size: 2.5rem;
                    text-align: center;
                    font-weight: 600;
                }
            }

            .info-content {
                width: 80%;
                margin: 0 auto;
                padding: 30px 0;
                font-size: 1.6rem;
                color: #252525;

                ul {
                    li {
                        font-weight: 500;
                        margin-bottom: 20px;

                        span {
                            color: #696969;
                            font-weight: 400;
                            line-height: 1.5;
                        }
                    }
                }
            }

            .info-btn {
                text-align: center;

                .btn_registerCourse {
                    box-shadow: none;
                }
            }
        }

    }
}