.inrollCourses {
    .containerDashboard {
        .contentDashboards {
            .inrollCourses__search {
                max-width: 100%;
                width: 500px;
                margin: 0 auto;
                margin-bottom: 20px;

                position: relative;

                input {
                    width: 100%;
                    height: 40px;
                    padding: 10px 40px;
                    border: 1px solid #eee;
                    border-radius: 4px;
                    font-size: 1.5rem;

                    &:focus-visible {
                        outline: 1px solid $primary;
                    }
                }

                .icon-search {
                    display: inline-block;
                    position: absolute;
                    left: 10px;
                    top: 9px;
                    font-size: 18px;

                }
            }

            .inrollCourses__list {
                width: 100%;

                @include Responesive(LG) {
                    width: 800px;
                }

                margin: 0 auto;
                overflow: hidden;
                overflow-x: scroll;
                box-shadow: $shadown;
                background-color: white;

                .action {
                    display: flex;

                    .action-item {
                        display: flex;
                        align-items: center;

                        border: 1px solid #eee;
                        border-radius: 4px;
                        padding: 2px 12px;
                        font-size: 1.3rem;
                        font-weight: 500;
                        line-height: 26px;
                        color: #7e7e7e;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: $smooth;

                        .icon {
                            margin-right: 5px;
                            font-size: 1.6rem;
                        }

                        &:hover {
                            color: white;

                            &.action-item--edit {
                                background-color: $primary;
                                transition: $smooth;
                            }

                            &.action-item--delete {
                                background-color: #d9534f;
                                transition: $smooth;
                            }
                        }
                    }
                }
            }
        }
    }
}