.listCourseItem {
    margin-top: 100px;
    padding-top: 100px;
    background-color: #031F42;
    padding-bottom: 100px;

    .container {
        .listCourseItem__title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 50px;

            .title-content {
                .title-content__wrap {
                    text-align: left;
                    width: 580px;
                    overflow: hidden;

                    .title-content__number {
                        text-align: left;
                        background: linear-gradient(90deg, #B4EC51 0%, #429321 100%);
                        -webkit-background-clip: text;
                        color: transparent;
                    }

                    .title-content__title {
                        color: white;
                        text-align: left;
                    }

                    .title-content__decs {
                        color: rgba(255, 255, 255, 0.8);
                        text-align: left;
                    }
                }
            }

            .title-img {}
        }

    }

    .listCourseItem__list {
        position: relative;

        .list-item {
            cursor: pointer;
            transition: $smooth;

            &:hover {
                transform: scale(1.05);
                transition: $smooth;

            }

            .list-item__img {
                img {
                    border-radius: 10px;
                }
            }

            .list-item__text {
                margin-top: 10px;

                h3 {
                    font-size: 1.6rem;
                    color: white;
                    font-weight: 500;
                }
            }
        }

        .swiper {
            width: 100%;
            height: 100%;
            overflow: visible;
            padding-bottom: 80px;
            overflow: hidden;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
            width: 314.75px !important;
            margin-right: 30px;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-button-prev {
            position: absolute;
            z-index: 1000;
            bottom: 0;
            top: auto;
            left: 50%;
            transform: translateX(-150%);

            width: 52px;
            height: 52px;
            border: 2px solid rgba(237, 237, 237, 0.15);
            border-radius: 50%;
            cursor: pointer;

            &::after {
                font-size: 1.4rem;
                color: white;

            }
        }

        .swiper-button-next {
            position: absolute;
            z-index: 1000;
            bottom: 0;
            top: auto;
            right: 50%;
            transform: translateX(150%);

            width: 52px;
            height: 52px;
            border: 2px solid rgba(237, 237, 237, 0.15);
            border-radius: 50%;
            cursor: pointer;

            &::after {
                font-size: 1.4rem;
                color: white;

            }

        }

        .swiper-pagination {
            color: rgba(255, 255, 255, 0.7);
            bottom: 16px;
            font-size: 1.6rem;
        }
    }
}