.login {
    padding: 30px;

    @include Responesive(XS) {
        padding: 15px;
    }

    background: linear-gradient(90deg, #00c0ff 0%, #5558ff 50%, #00c0ff 100%);
    background-position: left center;
    background-size: 200% 100%;
    height: 100%;
    min-height: 100vh;

    .login__wrap {
        width: 500px;
        margin: 0 auto;
        max-width: 100%;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: $shadown;
        padding: 50px;

        @include Responesive(XS) {
            padding: 20px;
        }

        h3 {
            display: block;
            font-size: 4rem;
            color: $primary;
            line-height: 1.2;
            padding-bottom: 50px;
            text-align: center;
            font-weight: 500;
        }

        .group-item {
            width: 100%;
            margin-bottom: 30px;

            label {
                font-size: 1.6rem;
                color: #333333;
                margin-left: 7px;
            }

            .group-item__input {
                position: relative;
                border-bottom: 2px solid #c5c1c1;

                .icon {
                    position: absolute;
                    bottom: 22px;
                    left: 7px;
                    font-size: 1.5rem;
                    color: #c5c1c1;
                }
            }

            input {
                width: 100%;
                font-size: 16px;
                color: #333333;
                line-height: 1.2;
                width: 100%;
                height: 55px;
                background: transparent;
                padding: 0 7px 0 43px;
                outline: none;
                border: none;

                &::placeholder {
                    color: #c5c1c1;
                }
            }

            .text-error {
                position: absolute;
                top: 41px;
                color: red;
                padding-left: 43px;
                font-size: 1.2rem;
            }

            .btn__login {
                width: 100%;
                box-shadow: none;
                border-radius: 30px;
                background: linear-gradient(90deg, #00c0ff 0%, #5558ff 50%, #00c0ff 100%);
                background-position: left center;
                background-size: 200% 100%;
                height: 50px;
                font-size: 1.6rem;
                margin-top: 20px;

                &:hover {
                    background-position: right center;
                }
            }
        }

        .signUp-link {
            text-align: center;
            font-size: 1.2rem;

            span {
                color: $primary;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}