.updateCourse {
    .containerDashboard {
        background-color: white;
        padding: 0;
        padding-top: 20px;

        .contentDashboard {
            border: none;

            .contentDashboard__list {
                display: flex;
                justify-content: flex-start;
                gap: 20px;

                @include Responesive(MD) {
                    display: block;
                }

                .updateCourse__group {
                    flex: 1;

                    .updateCourse__group-item {
                        position: relative;
                        width: 100%;
                        font-size: 1.5rem;
                        margin-bottom: 15px;

                        label {
                            display: block;
                            color: #666666;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }

                        .input {
                            height: 40px;
                            width: 100%;
                            padding: 10px;
                            font-size: 1.5rem;
                            outline: none;
                            border: 1px solid #dddee4;
                            border-radius: 4px;

                            &:focus-visible {
                                box-shadow: $shadown;
                            }
                        }

                        .textArea {
                            @extend .input;
                            height: 140px;
                        }

                        .textError {
                            color: red;
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .contentDashboard__btn {
                margin-top: 20px;

                .btn-add {
                    box-shadow: none;
                    background-color: $primary;
                    border: 1px solid $primary;
                    color: white;

                    &:hover {
                        background-color: transparent;
                        color: $primary;
                        border: 1px solid $primary;
                    }
                }
            }
        }
    }
}